body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.input-container {
  display: -ms-flexbox;

  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 12.3px;
  background: rgb(143, 149, 155);
  color: white;
  min-width: 50px;
  height: 40px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 4px;
  outline: none;
}

.input-field:focus {
  border: 1.1px solid rgb(143, 154, 165);
}



.login-form {
  position: fixed;
  top: 150px;
  left: 590px;
  font-family: 'Helvetica', serif;
  background: #fff;
  padding: 29px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

.main h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;
}

.login-btn {
  font-family: 'Helvetica', serif;
  width: 100%;
  padding: 5px;
  font-weight: bolder;
  font-size: medium;
  padding: 10px;
  margin-bottom: 10px;
}

input[type=submit] {
  font-family: 'Helvetica', serif;
  background-color: #767474;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}


/* / @import url(https://fonts.googleapis.com/css?family=Playball|Open+Sans+Condensend:300); / */

body {
  background-color: snow;
}

html,
body,
svg {
  width: 85%;
  height: 20%;
}

.texto-tittle {
  font-family: 'Playball', cursive;
  font-size: 40px;
  fill: snow;
}

.texto-by {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  fill: snow;
  letter-spacing: 1px;
  opacity: 8;
}