<div class="row">
  <h1>Please Login to continue</h1>
  <div class="login-form">
    <form id="f1" method="POST" autocomplete="off">
      <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <input class="input-field" type="text" placeholder="E-mail" required name="email" id="email" />
      </div>
      <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input class="input-field" type="password" placeholder="Password" required name="password" id="password" />
      </div>
      <input type="submit" id="submitDetails" name="submitDetails" class="btn-block login-btn" value="Login"
        style="background-color: cornflowerblue; " />
      <b>New User? </b>
      <a class="signup-link-button">Click here For Signup.</a>
    </form>
  </div>
</div>